@page
@model Frontend.Pages.CInscribirEquipo.IndexModel
@{
    ViewData["Title"] = "Index Inscribir Equipos";
}

<h1>Listado de Equipos por Torneos</h1>
<p>
    <a asp-page="Create" class="btn btn-success"> Inscribir Equipo en Torneo</a>
</p>
<table class="table">
    <thead>
        <tr>
           <th>Torneo</th>
           <th>Equipo</th>           
           <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var TorEqu in Model.TorneoEquiposV)//
        {
            <tr>                
                <td>@TorEqu.Torneo</td>
                <td>@TorEqu.Equipo</td>
                <td>
                    <a asp-page="./Delete" asp-route-idT="@TorEqu.TorneoId" asp-route-idE="@TorEqu.EquipoId" class="btn btn-danger" >Eliminar</a>                
                </td>
            </tr>
        }
        
    </tbody>
</table>